.about_flexbox {
  display: flex;
  gap: 6rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem auto;
  min-height: calc(100vh - var(---nav-height));
}
@media only screen and (max-width: 480px) {
  .about_flexbox {
    margin: 0.5rem auto;
    gap: 1rem;
  }
}

.about_flexbox__item {
  padding: 1rem;
}

/* ------------------------------------------------------------------------- */

.about_card_flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  border-radius: 1rem;
}
@media only screen and (max-width: 992px) {
  .about_card_flexbox {
    gap: 0rem;
    margin: 0 4vw;
    background: var(--bg-black-secondary);
  }
}
@media only screen and (max-width: 480px) {
  .about_card_flexbox {
    gap: 0rem;
    margin: 0;
    background: var(--bg-black-secondary);
  }
}

.about_card_flexbox_reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 3rem;
  flex-wrap: wrap;
  border-radius: 1rem;
}
@media only screen and (max-width: 992px) {
  .about_card_flexbox_reverse {
    gap: 0rem;
    margin: 0 4vw;
    background: var(--bg-black-secondary);
  }
}
@media only screen and (max-width: 480px) {
  .about_card_flexbox_reverse {
    gap: 0rem;
    margin: 0;
    background: var(--bg-black-secondary);
  }
}

.about_card_flexbox__item1 {
  position: relative;
  overflow-y: hidden;
}
@media only screen and (max-width: 992px) {
  .about_card_flexbox__item1 {
    width: 100%;
  }
}

.about_card_flexbox__item2 {
  width: clamp(15rem, 50vw, 60rem);
  padding: 1rem;
  color: var(--white);
}
@media only screen and (max-width: 992px) {
  .about_card_flexbox__item2 {
    width: 100%;
  }
}

/* ------------------------------------------------------------------------- */

.about_img {
  clip-path: circle(50% at 50% 50%);
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}
@media only screen and (max-width: 992px) {
  .about_img {
    clip-path: unset;
    width: 100%;
    height: 10rem;
    margin: 0 auto;
  }
}

.about__h1 {
  color: var(--light-blue);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 0.5rem;
  overflow-y: hidden;
}
@media only screen and (max-width: 992px) {
  .about__h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .about__h1 {
    font-size: 1.2rem;
    padding: 0rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }
}

.about_p {
  font-weight: 400;
  font-size: 1.1rem;
  text-align: justify;
  text-justify: inter-word;
}
@media only screen and (max-width: 992px) {
  .about_p {
    font-size: 1rem;
    padding: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .about_p {
    font-size: 0.9rem;
    padding: 0rem;
  }
}
