.about__container {
  position: relative;
  display: block;
  width: 100vw;
  min-height: 100vh;
  margin: 2rem auto;
  /* background: -webkit-linear-gradient(left top, var(--dark-blue), var(--light-blue));
  background: -o-linear-gradient(bottom right, var(--dark-blue), var(--light-blue));
  background: -moz-linear-gradient(bottom right, var(--dark-blue), var(--light-blue));
  background: linear-gradient(to bottom right, var(--light-blue), var(--dark-blue));
  -webkit-clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
  clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%); */
}

.about_flexbox {
  display: flex;
  gap: 6rem;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 500px) {
  .about_flexbox {
    gap: 1rem;
  }
}

.about_flexbox__item {
  padding: 1rem;
}

/* ------------------------------------------------------------------------- */

.about_card_flexbox_reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 3rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 992px) {
  .about_card_flexbox_reverse {
    gap: 0rem;
  }
}

.about_card_flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 992px) {
  .about_card_flexbox {
    gap: 0rem;
  }
}

.about_card_flexbox__item1 {
  position: relative;
  overflow-y: hidden;
}
@media only screen and (max-width: 992px) {
  .about_card_flexbox__item1 {
    width: 100%;
  }
}

.about_card_flexbox__item2 {
  width: clamp(15rem, 50vw, 60rem);
  padding: 1rem;
  color: var(--white);
}
@media only screen and (max-width: 992px) {
  .about_card_flexbox__item2 {
    width: 100%;
  }
}

/* ------------------------------------------------------------------------- */

.about_img {
  clip-path: circle(50% at 50% 50%);
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}
@media only screen and (max-width: 992px) {
  .about_img {
    clip-path: unset;
    width: 100%;
    height: 10rem;
    margin: 0 auto;
  }
}

.about_card__image_gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.about__h1 {
  color: var(--light-blue);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 0.5rem;
}

.about_p {
  font-weight: 400;
  font-size: 1.1rem;
  text-align: justify;
  text-justify: inter-word;
}
@media only screen and (max-width: 992px) {
  .about_p {
    font-size: 1rem;
  }
}
