.page_grid {
  position: relative;
  display: grid;
  grid-template-rows: var(---nav-height) 1fr;
  grid-template-columns: 100vw;
  justify-content: center;
  align-items: start;
  width: 100vw;
}
@media only screen and (max-width: 441px) {
  .page_grid {
    grid-template-rows: var(---nav-height-mob) 1fr;
  }
}

.page_grid__item1 {
  height: 100%;
}

.page_grid__item2 {
}
