.homepage__grid {
  position: relative;
  display: grid;
  grid-template-rows: var(---nav-height) 1fr;
  grid-template-columns: 100vw;
  justify-content: center;
  align-items: start;
  width: 100vw;
  overflow-y: auto;
}
@media only screen and (max-width: 500px) {
  .homepage__grid {
    grid-template-rows: 2rem 1fr;
  }
}

.homepage__grid__item1 {
  height: 100%;
}

.homepage__grid__item2 {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.hompage__flexbox {
  width: 100vw;
  min-height: calc(100vh - var(---nav-height));
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .hompage__flexbox {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}

.homepage__flexbox_item1 {
  margin: 0.5rem;
}

.homepage__flexbox_item2 {
  margin: 0.5rem;
}

.homepage_text_container {
  transform: translateY(0%);
  min-width: 320px;
  margin: 0 auto;
}

.homepage_text__h1 {
  position: relative;
  display: block;
  top: 1rem;
  margin: 0rem 0.5rem;
  color: var(--light-blue);
  font-size: clamp(2rem, 5.58vw, 7rem);
  font-weight: 700;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .homepage_text__h1 {
    font-size: clamp(2.8rem, 8vw, 7rem);
    top: 0.7rem;
  }
}
@media only screen and (max-width: 500px) {
  .homepage_text__h1 {
    font-size: clamp(2rem, 9.5vw, 7rem);
  }
}

.homepage_text__h1_span {
  color: var(--light-blue);
  font-size: clamp(2rem, 5.58vw, 7rem);
  font-weight: 700;
  text-align: center;
  line-height: 4rem;
}
@media only screen and (max-width: 992px) {
  .homepage_text__h1_span {
    font-size: clamp(2.8rem, 8vw, 7rem);
  }
}
@media only screen and (max-width: 500px) {
  .homepage_text__h1_span {
    font-size: clamp(2rem, 9.5vw, 7rem);
  }
}

.homepage_text__h2 {
  margin: 0rem 0.5rem;
  color: var(--white);
  font-size: clamp(1.02rem, 2.85vw, 4rem);
  font-weight: 900;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .homepage_text__h2 {
    font-size: clamp(1.42rem, 4.04vw, 7rem);
  }
}
@media only screen and (max-width: 500px) {
  .homepage_text__h2 {
    margin: 0rem 0.8rem;
    font-size: clamp(1rem, 4.8vw, 7rem);
  }
}

.homepage_text_p {
  font-size: 1.4rem;
  color: var(--white);
  margin: 0rem 8vw;
  text-align: center;
  color: var(--light-blue);
}
@media only screen and (max-width: 992px) {
  .homepage_text_p {
    font-size: 1.2rem;
    margin: 0rem 13vw;
  }
}
@media only screen and (max-width: 500px) {
  .homepage_text_p {
    font-size: 1rem;
    margin: 0rem 5vw;
  }
}

.homepage__portrait {
  margin: 0 7vw 0 0;
  width: clamp(15rem, 32vw, 25rem);
}
@media only screen and (max-width: 992px) {
  .homepage__portrait {
    margin: unset;
    width: clamp(17rem, 18vw, 25rem);
  }
}
@media only screen and (max-width: 500px) {
  .homepage__portrait {
    margin: unset;
    width: clamp(18rem, 18vw, 25rem);
  }
}
@media only screen and (max-width: 321px) {
  .homepage__portrait {
    margin: unset;
    width: clamp(12rem, 18vw, 25rem);
  }
}
