.hompage__flexbox {
  width: 100vw;
  min-height: calc(100vh - var(---nav-height));
  min-width: 320px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 992px) {
  .hompage__flexbox {
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .hompage__flexbox {
    margin-top: -1rem;
  }
}

.homepage__flexbox_item1 {
  width: 58%;
}
@media only screen and (max-width: 992px) {
  .homepage__flexbox_item1 {
    width: 100%;
  }
}

.homepage_text__h1 {
  position: relative;
  width: max-content;
  margin: 0 auto;
  top: 1rem;
  color: var(--dark-blue);
  font-size: clamp(2rem, 5.58vw, 7rem);
  font-weight: 700;
  overflow-y: hidden;
}
@media only screen and (max-width: 992px) {
  .homepage_text__h1 {
    font-size: clamp(2.8rem, 8vw, 7rem);
    top: 0.7rem;
  }
}
@media only screen and (max-width: 500px) {
  .homepage_text__h1 {
    font-size: clamp(2rem, 9.5vw, 7rem);
  }
}

.homepage_text__h2 {
  margin: 0rem 0.5rem;
  color: var(--white);
  font-size: clamp(1.02rem, 2.83vw, 4rem);
  font-weight: 900;
  width: max-content;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .homepage_text__h2 {
    font-size: clamp(1.42rem, 4.04vw, 7rem);
  }
}
@media only screen and (max-width: 500px) {
  .homepage_text__h2 {
    font-size: clamp(1rem, 4.8vw, 7rem);
  }
}

.homepage_text_p {
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  color: var(--white);
  margin: 0rem auto;
  min-width: 310px;
  text-align: center;
  color: var(--dark-blue);
  padding: 0 1.2rem;
}
@media only screen and (max-width: 992px) {
  .homepage_text_p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .homepage_text_p {
    font-size: 0.9rem;
    padding: 0 1rem;
  }
}

.homepage__portrait {
  margin: 0 auto;
  width: clamp(15rem, 32vw, 25rem);
}
@media only screen and (max-width: 992px) {
  .homepage__portrait {
    width: clamp(17rem, 18vw, 25rem);
  }
}
@media only screen and (max-width: 500px) {
  .homepage__portrait {
    width: clamp(18rem, 18vw, 25rem);
  }
}
@media only screen and (max-width: 321px) {
  .homepage__portrait {
    width: clamp(12rem, 17vw, 25rem);
  }
}
