:root {
  --dark-blue: #679bf1;
  --light-blue: #8ab9f1;
  --light-grey: #f1f1f1;
  --dark-grey: #989795;
  --white: white;
  --bg-black: #161616;
  --bg-black-secondary: #202020;
  --black: black;
  ---nav-height: 4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  border: 1px solid blue;
}

a:link,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

body {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  background: var(--bg-black);
  overflow-y: auto !important;
}
