:root {
  --primary-text: #679bf1;
  --secondary-text: white;
  --bg-primary: #161616;
  --bg-secondary: #202020;
  --theme-light: white;
  ---nav-height: 4rem;
  ---nav-height-mob: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  /* border: 1px solid blue; */
}

a:link,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
}

body {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  background: var(--bg-primary);
  overflow-y: hidden;
  scroll-behavior: smooth;
}
