.main_nav__links_flexbox {
  position: fixed;
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: var(--bg-primary);
  min-width: 320px;
  z-index: 999;
  overflow: visible;
}
@media only screen and (max-width: 992px) {
  .main_nav__links_flexbox {
    gap: 1rem;
    padding: 1rem 0.25rem;
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .main_nav__links_flexbox {
    padding: 0.75rem 0.25rem;
    justify-content: space-around;
  }
}

.main_nav__links_flexbox__item {
  display: flex;
  justify-items: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--secondary-text);
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .main_nav__links_flexbox__item {
    gap: 0.4rem;
  }
}
@media only screen and (max-width: 480px) {
  .main_nav__links_flexbox__item {
    flex-direction: column;
    gap: 0rem;
  }
}

.main_nav__img {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  fill: var(--primary-text);
  stroke: var(--primary-text);
}
@media only screen and (max-width: 321px) {
  .main_nav__img {
    flex-direction: column;
    width: 1.5rem;
  }
}

/* ------------------------------------------------------------------------- */

.main_nav__light {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  fill: var(--theme-light);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    right: -10rem;
  }
  20% {
    opacity: 0;
    right: -10rem;
  }
  30% {
    opacity: 1;
    right: -1rem;
  }
  99% {
    opacity: 1;
    right: -1rem;
  }
  100% {
    opacity: 0;
  }
}

.main_nav__light_message {
  position: absolute;
  right: -1rem;
  top: 3rem;
  color: var(--theme-light);
  width: 11.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  padding: 0.25rem;
  background: var(--primary-text);
  opacity: 0%;

  animation: fadeIn 10s linear 1s;
  -webkit-animation: fadeIn 10s linear 1s;
  -moz-animation: fadeIn 10s linear 1s;
  -o-animation: fadeIn 10s linear 1s;
  -ms-animation: fadeIn 10s linear 1s;
}

/* ------------------------------------------------------------------------- */

.main_nav_text {
  font-size: 1.2rem;
  white-space: nowrap;
  text-align: center;
  flex-grow: 1;
}
@media only screen and (max-width: 992px) {
  .main_nav_text {
    font-size: 1.15rem;
  }
}
@media only screen and (max-width: 480px) {
  .main_nav_text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 321px) {
  .main_nav_text {
    font-size: 1rem;
  }
}

.contact_nav__flexbox {
  position: absolute;
  float: right;
  top: 0rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 1rem;
  overflow: visible;
}
@media only screen and (max-width: 992px) {
  .contact_nav__flexbox {
    display: none;
  }
}

.contact_nav___flexbox__item {
  position: relative;
  cursor: pointer;
  overflow: visible;
}

.contact_nav___img {
  width: 2rem;
  height: 2rem;
}
