.main_nav__links_flexbox {
  position: fixed;
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: var(--bg-black);
  min-width: 320px;
  z-index: 999;
}
@media only screen and (max-width: 992px) {
  .main_nav__links_flexbox {
    gap: 1rem;
    padding: 1rem 0.25rem;
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .main_nav__links_flexbox {
    padding: 0.75rem 0.25rem;
    justify-content: space-around;
  }
}

.main_nav__links_flexbox__item {
  display: flex;
  justify-items: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .main_nav__links_flexbox__item {
    gap: 0.4rem;
  }
}
@media only screen and (max-width: 480px) {
  .main_nav__links_flexbox__item {
    flex-direction: column;
    gap: 0rem;
  }
}

.main_nav__img {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  fill: var(--dark-blue);
}
@media only screen and (max-width: 321px) {
  .main_nav__img {
    flex-direction: column;
    width: 1.5rem;
  }
}

.main_nav_text {
  font-size: 1.2rem;
  white-space: nowrap;
  text-align: center;
  flex-grow: 1;
}
@media only screen and (max-width: 992px) {
  .main_nav_text {
    font-size: 1.15rem;
  }
}
@media only screen and (max-width: 480px) {
  .main_nav_text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 321px) {
  .main_nav_text {
    font-size: 1rem;
  }
}

.contact_nav__flexbox {
  position: absolute;
  float: right;
  top: 0rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 1rem;
}
@media only screen and (max-width: 992px) {
  .contact_nav__flexbox {
    display: none;
  }
}

.contact_nav___img {
  width: 2rem;
  height: 2rem;
}
