.main_nav__links_flexbox {
  position: fixed;
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: var(--bg-black);
  z-index: 999;
}
@media only screen and (max-width: 992px) {
  .main_nav__links_flexbox {
    gap: 1rem;
    padding: 1rem 0.25rem;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .main_nav__links_flexbox {
    padding: 0.75rem 0.25rem;
    justify-content: space-around;
  }
}

.main_nav__links_flexbox__item {
  display: flex;
  justify-items: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
}
@media only screen and (max-width: 992px) {
  .main_nav__links_flexbox__item {
    gap: 0.4rem;
  }
}
@media only screen and (max-width: 500px) {
  .main_nav__links_flexbox__item {
    flex-direction: column;
    gap: 0rem;
  }
}

.main_nav__img {
  width: 2rem;
  height: auto;
  margin: 0 auto;
}
@media only screen and (max-width: 321px) {
  .main_nav__img {
    flex-direction: column;
    width: 1.5rem;
  }
}

.main_nav_text {
  font-size: 1.2rem;
  white-space: nowrap;
  text-align: center;
  flex-grow: 1;
}
@media only screen and (max-width: 992px) {
  .main_nav_text {
    font-size: 1.15rem;
  }
}
@media only screen and (max-width: 500px) {
  .main_nav_text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 321px) {
  .main_nav_text {
    font-size: 1rem;
  }
}

.main_nav__contact_flexbox {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.main_nav__contact_img {
  display: block;
  width: 2rem;
  height: auto;
}
