.projects__flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: calc(100vh - var(---nav-height));
}
@media only screen and (max-width: 992px) {
  .projects__flexbox {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 441px) {
  .projects__flexbox {
    min-height: calc(100vh - 9.5rem);
  }
}

.projects_carosel__container {
  color: white;
}

.projects_carosel__wrapper {
  cursor: pointer;
}

/* ------------------------------------------------------------------------- */

.projects_carosel__wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  padding: 4vw;
}
@media only screen and (max-width: 992px) {
  .projects_carosel__wrapper {
    flex-direction: column;
    gap: 1rem;
  }
}
@media only screen and (max-width: 441px) {
  .projects_carosel__wrapper {
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 321px) {
  .projects_carosel__wrapper {
    justify-content: flex-start;
  }
}

.projects_carosel__flexbox__item1 {
  position: relative;
  width: 40%;
  overflow: hidden;
}
@media only screen and (max-width: 992px) {
  .projects_carosel__flexbox__item1 {
    width: 70vw;
    height: auto;
  }
}
@media only screen and (max-width: 441px) {
  .projects_carosel__flexbox__item1 {
    width: 100vw;
  }
}

.projects_carosel_img {
  width: 100%;
  height: 100%;
  max-height: 20rem;
  object-fit: contain;
  overflow: hidden;
}
@media only screen and (max-width: 992px) {
  .projects_carosel_img {
    max-height: 14rem;
  }
}
@media only screen and (max-width: 441px) {
  .projects_carosel_img {
    max-height: 8rem;
  }
}

.projects_carosel__flexbox__item2 {
  width: 40%;
}
@media only screen and (max-width: 992px) {
  .projects_carosel__flexbox__item2 {
    width: 70vw;
    height: auto;
  }
}
@media only screen and (max-width: 441px) {
  .projects_carosel__flexbox__item2 {
    width: 100vw;
  }
}

.projects__h1 {
  color: var(--primary-text);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 700;
  text-align: center;
  letter-spacing: 1vmax;
  line-height: 1.2;
  overflow-y: hidden;
  padding: 0 0.5rem;
}
@media only screen and (max-width: 441px) {
  .projects__h1 {
    line-height: 1;
  }
}
@media only screen and (max-width: 321px) {
  .projects__h1 {
    line-height: 1;
    font-size: 1.2rem;
  }
}

.projects_p {
  font-size: clamp(0.9rem, 1.1vw, 1.1rem);
  font-weight: 400;
  color: var(--secondary-text);
  text-align: justify;
  text-justify: inter-word;
  margin: clamp(0.5rem, 1.5vw, 1.5rem);
  padding: 0 0.5rem;
}
@media only screen and (max-width: 321px) {
  .projects_p {
    font-size: 0.8rem;
  }
}

.projects__tech_stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: clamp(0.5rem, 1.5vw, 1.5rem) auto;
}
@media only screen and (max-width: 441px) {
  .projects__tech_stack {
    margin: 0;
  }
}

.projects__icon {
  width: clamp(2rem, 4vw, 3rem);
  height: clamp(2.4rem, 4vw, 3rem);
  margin: clamp(0.1rem, 2vw, 0.3rem);
}

/* ------------------------------------------------------------------------- */

.projects__nav_left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2.5%;
}
@media only screen and (max-width: 441px) {
  .projects__nav_left {
    top: 50%;
    left: 0.6rem;
  }
}

.projects__nav_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5%;
}
@media only screen and (max-width: 441px) {
  .projects__nav_right {
    top: 50%;
    right: 0.6rem;
  }
}

.projects__nav_arrrow {
  width: clamp(2.5rem, 5vw, 4.5rem);
  height: clamp(2.5rem, 5vw, 4.5rem);
  fill: var(--primary-text);
}
@media only screen and (max-width: 441px) {
  .projects__nav_arrrow {
    display: none;
  }
}

.projects_nav_dot_container {
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--primary-text);
}
@media only screen and (max-width: 441px) {
  .projects_nav_dot_container {
    position: unset;
    left: unset;
    bottom: unset;
    transform: unset;
  }
}

.projects_nav_dot {
  width: 1rem;
  height: 1rem;
}

.projects_nav_dot_active {
  opacity: 25%;
  width: 1rem;
  height: 1rem;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

.projects__nav_swipe_icon_conatiner_animation {
  display: none;
}
@media only screen and (max-width: 441px) {
  .projects__nav_swipe_icon_conatiner_animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    background: var(--bg-primary);
    clip-path: circle(50% at 50% 50%);
    z-index: 1;
    opacity: 0;
    animation: fadeInOut 5s;
    -webkit-animation: fadeInOut 5s;
    -moz-animation: fadeInOut 5s;
    -o-animation: fadeInOut 5s;
    -ms-animation: fadeInOut 5s;
  }
}

.projects__nav_swipe_icon_conatiner {
  display: none;
}

.projects__nav_swipe_icon {
  width: 3rem;
  height: 3rem;
  fill: var(--primary-text);
}

/* ------------------------------------------------------------------------- */
